[submodule "thirdParty/Shinobu-Engine"]
	path = thirdParty/Shinobu-Engine
	url = https://github.com/antjowie/Shinobu-Engine
[submodule "thirdParty/enet"]
	path = thirdParty/enet
	url = https://github.com/antjowie/enet
[submodule "thirdParty/cereal"]
	path = thirdParty/cereal
	url = https://github.com/USCiLab/cereal
